article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
  display: block;
}
audio[controls],canvas,video {
  display: inline-block;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}
body,button,input,select,textarea {
  font-family: sans-serif;
  color: #222;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
pre,code,kbd,samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
label {
  cursor: pointer;
}
button,input,select,textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,input {
  line-height: normal;
}
button,input[type='button'],input[type='reset'],input[type='submit'] {
  cursor: pointer;
}
input[type='checkbox'],input[type='radio'] {
  box-sizing: border-box;
}
input[type='search'] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
button::-moz-focus-inner,input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input:invalid,textarea:invalid {
  background-color: #f0dddd;
}
@font-face {
  font-family: 'ChunkFiveRegular';
  src: url('fonts/Chunkfive-webfont.eot');
  src: url('fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Chunkfive-webfont.woff') format('woff'),
    url('fonts/Chunkfive-webfont.ttf') format('truetype'),
    url('fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('fonts/League_Gothic-webfont.eot');
  src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/League_Gothic-webfont.woff') format('woff'),
    url('fonts/League_Gothic-webfont.ttf') format('truetype'),
    url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}
#header-container {
  border-bottom: 13px solid #e44d26;
}
#footer-container {
  border-top: 20px solid #e44d26;
}
#main aside {
  border-top: 20px solid #e44d26;
}
#header-container,#footer-container,#main aside {
  background: #f16529;
}

#title {
  color: white;
  font-family: 'ChunkFiveRegular';
  font-weight: normal;
  font-size: 4em;
  margin-bottom: 20px;
}

#header-container h2 {
  color: white;
  font-size: 16px;
}
#header-container header {
  text-align: center;
}

::-moz-selection {
  background: #f16529;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #f16529;
  color: #fff;
  text-shadow: none;
}
#html5-logo-container {
  display: none;
}

#follow-container {
  display: none;
}

#badges {
  margin: 0 auto;
  width: 265px;
  margin-top: 10px;
  line-height: 18px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  font-style: italic;
}
#badges li {
  float: left;
  background: #eee;
  color: #444;
  text-align: center;
  width: 85px;
  height: 85px;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  margin-left: 5px;
  text-shadow: 0 2px 1px white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
#badges li:first-child {
  margin-left: 0;
}
.badge-label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85px; /* Ajustez selon la hauteur de votre badge */
    width: 85px; /* Ajustez selon la largeur de votre badge */
    margin: auto;
    font-size: 0.8em; /* Ajustez la taille de la police si nécessaire */
    flex-direction: column;
}
#badges ul {
  float: right;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.separator {
  font-family: LeagueGothicRegular;
  text-align: center;
  font-weight: normal;
  font-size: 3em;
  color: #4b433f;
  margin: 50px 0;
}
.separator:before,.separator:after {
  width: 20%;
  height: 4px;
  display: block;
  background: #eee;
  content: '';
  margin-top: 14px;
  display: none;
}
.separator:before {
  float: left;
}
.separator:after {
  float: right;
}
#fine-tuning-separator {
  margin: 30px 0 20px;
}
.blank-background button,.blank-background a {
  background: #6b6767;
}
.blank-background button:hover,.blank-background a:hover {
  background: #848282;
}
.initializr-background button,.initializr-background a,#download-section a {
  background: #b1552e;
}
.initializr-background button:hover,.initializr-background a:hover,#download-section a:hover {
  background: #cf835f;
}
.bootstrap-background button,.bootstrap-background a {
  background: #527e60;
}
.bootstrap-background button:hover,.bootstrap-background a:hover {
  background: rgba(94, 136, 121, 0.942);
}
#preconfig-section {
  padding-bottom: 10px;
}
.preconfig-container {
  display: block;
  width: 100%;
}
.preconfig-block {
  border: none;
  display: block;
  width: 100%;
}
#preconfig-section h3,#download-section a {
  font-weight: normal;
  font-family: ChunkFiveRegular;
  font-size: 2em;
  margin: 0;
  text-align: center;
  padding: 25px 0;
  text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  color: rgb(239, 238, 238);
}
.preconfig-links-container {
  width: 100px;
  margin: 6px auto;
}
#preconfig-section a.first {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
#main {
  padding: 30px 0;
}
.second-h5bp-label,.third-h5bp-label {
  display: none;
  visibility: hidden;
}
#about-container {
  clear: both;
  padding-top: 60px;
  background: #eee;
  padding: 30px 0;
}
#github-repositories ul {
  list-style-type: disc; /* Adds bullet points */
  padding-left: 100px; /* Indent the list */

}
#about-container h3 {
  font-weight: normal;
  font-family: LeagueGothicRegular;
  font-size: 2em;
}
#about-container a {
  color: #e44d26;
  text-decoration: none;
}
#github-container {
float: left;
width: 50%;
}
#github-container img {
  display: none;
  height: 8.5rem;
}
#github-repositories {
  float: right; /* Déplacer à droite */
  width: 50%; /* Largeur étroite du bloc */
}
/* Supprimer les pointeurs de lien pour les tirets */
#github-repositories li > a:not(:hover) {
  text-decoration: none; /* Pas de soulignement */
  color: rgb(214, 100, 29); /* Couleur noire du texte */
  cursor: default; /* Curseur par défaut */
}
/* Style pour les liens cliquables spécifiques */
#github-repositories li a[href*="openai"], 
#github-repositories li a[href*="database"], 
#github-repositories li a[href*="forum"] {
  color: #ef6006; /* Couleur des liens cliquables */
  text-decoration: underline; /* Soulignement pour indiquer la cliquabilité */
  cursor: pointer; /* Indiquer que c'est un lien */
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
@media only screen and (min-width: 540px) {
  #header-container {
    -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  }
  #header-container header {
    text-align: left;
    height: 133px;
  }
  .ie7 #header-container header,.ie8 #header-container header {
    height: auto;
  }
  #title,#header-container h2,#follow-container p {
    text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
  }
  #title-container {
    float: left;
    width: 63%;
  }
  #html5-logo-container {
    float: left;
    width: 0;
  }
  #follow-iframes-container {
    width: 260px;
    float: right;
  }
  #follow-iframes-container iframe {
    float: right;
    width: 146px !important;
    margin-bottom: 6px;
  }
  .ie9 #follow-iframes-container iframe,
  .ie8 #follow-iframes-container iframe,
  .ie7 #follow-iframes-container iframe {
    width: 135px !important;
  }
  #follow-container {
    float: right;
    width: 37%;
    display: block;
    margin-top: 40px;
  }
  #follow-container p {
    text-align: right;
    color: white;
    font-weight: bold;
    margin: 12px 0;
  }
  #follow-container a {
    color: white;
  }
  #intro p {
    margin-right: 285px;
  }
  #badges {
    float: right;
  }
  .separator:before,.separator:after {
    width: 20%;
    display: block;
  }
  .preconfig-container {
    float: left;
    width: 48%;
    margin: 0 1%;
  }
  .preconfig-container:last-child {
    margin: auto;
    float: none;
    clear: both;
  }
  .preconfig-block {
    display: block; /* Permet au lien de remplir le conteneur */
    text-decoration: none; /* Retire le soulignement du lien */
    color: inherit; /* Hérite la couleur du texte parent */
    text-align: center; /* Centre le texte dans le bouton */
    padding: 10px; /* Ajoute un peu de padding pour un meilleur clic */
    background-color: #f2f2f2; /* Couleur de fond */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Ombre subtile */
    transition: all 0.3s ease; /* Transition pour hover */
    padding: 2px;
    border: none; /* Supprime tout bordure par défaut */
}

.preconfig-block:hover {
    background-color: #e9e9e9; /* Changement de couleur au survol */
    transform: scale(1.05); /* Effet de zoom léger au survol */
}

  #hidden-section {
    display: none;
  }
  .customize-section {
    float: left;
    width: 50%;
  }
  #about-container {
    -webkit-box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  #about-container article {
    width: 100%;
  }
  #github-container {
    margin: auto;
    width: 480px;
  }
  #github-container img {
    float: left;
    display: block;
  }
  #github-repositories {
    float: right;
    margin-top: 20px;
  }
  #github-repositories h3 {
    text-align: center;
  }
}
@media only screen and (min-width: 860px) {
  #title-container {
    float: left;
    width: 40%;
  }

  #html5-logo-container {
    display: block;
    float: left;
    width: 20%;
  }

  #html5-logo-container img {
    display: block;
    margin: auto;
  }

  #follow-iframes-container {
    width: 260px;
    float: right;
  }

  #follow-container {
    float: right;
    width: 40%;
  }

  #follow-container p:before {
    content: 'Initialized by ';
  }

  #follow-iframes-container iframe {
    /* 		float:right; */
    width: auto !important;
    margin-bottom: 6px;
  }

  .ie9 #follow-iframes-container iframe,
  .ie8 #follow-iframes-container iframe,
  .ie7 #follow-iframes-container iframe {
    width: auto !important;
  }
  .separator:before,
  .separator:after {
    width: 31%;
  }

  .preconfig-container {
    width: 32%;
    margin-right: 2%;
    margin-left: 0;
  }

  .ie8 .preconfig-container,.ie7 .preconfig-container {
    width: 31.33%;
  }

  .preconfig-container:last-child {
    margin: 0;
    float: left;
    clear: none;
  }

  .first-h5bp-label {
    visibility: hidden;
  }

  .second-h5bp-label {
    visibility: visible;
  }

  .third-h5bp-label {
    display: block;
  }

  .customize-section {
    width: 33.3%;
  }

  .customize-section:nth-child(2n + 1) {
    clear: none;
  }

  .customize-section:nth-child(3n + 1) {
    clear: both;
  }

  #about-container article {
    width: 530px;
  }

  #github-container {
    float: right;
  }

  #github-container img {
    float: none;
    margin: 0;
  }

  #github-repositories {
    float: none;
    margin: 0;
  }

  #github-container {
    width: auto;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  } /* Black prints faster: sanbeiji.com/archives/953 */
  a,a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  .ir a:after,a[href^='javascript:']:after,a[href^='#']:after {
    content: '';
  } /* Don't show links for images, or javascript/internal links */
  pre,blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr,img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,h2,h3 {
    orphans: 3;
    widows: 3;
  }
  h2,h3 {
    page-break-after: avoid;
  }
}
.js-stack {
  background: #eee;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 25px;
  text-align: center;
}
.js-stack a,.js-stack a:visited,.js-stack a:hover,.js-stack a:active {
  color: #f16529;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f7fa; /* Fond clair pour assortir avec le logo */
  color: #333; /* Couleur de texte générale */
}
.header {
  background-color: #f2f2f2; /* Gris clair */
  padding: 20px 30px; /* En-tête étendu avec padding horizontal */
  display: flex; /* Utilisez flexbox pour aligner les éléments */
  justify-content: space-between; /* Répartit l'espace entre les éléments */
}
.header-logo {
  height: 30px; /* Hauteur agrandie du logo */
}
.nav-links {
  display: flex; /* Pour aligner les liens horizontalement */
  margin-left: auto; /* Pousse les liens à droite */
}
.header-link {
  text-decoration: none; /* Pas de soulignement */
  color: #000; /* Couleur de lien noire */
  margin-left: 20px; /* Espacement uniforme entre les liens */
  font-size: 0.9em; /* Texte un peu plus petit */
  font-style: italic; /* Texte en italique */
  padding: 7px; /* Espacement autour du texte */
  transition: background-color 0.3s, color 0.3s; /* Animation */
}
.header-link:hover, .header-link:focus {
  text-decoration: underline; /* Surlignage au survol et au focus */
  cursor: pointer; /* Change le curseur au survol */
}
.main-content {
  padding: 15px;
}
.fancy-text {
  font-family: 'Georgia', serif; /* Belle police */
  font-size: 1.2em;
  text-align: justify;
  max-width: 800px; /* Largeur maximale pour une meilleure lisibilité */
  margin: auto; /* Centre le texte */
}
/* Dans ton fichier styles.css */
.btn {
  background-color: #007bff; /* Bleu par défaut */
  color: white;
  padding: 18px 10px;
  text-align: center;
  display: block; /* Change ici pour 'block' pour que chaque bouton soit sur une nouvelle ligne */
  width: 100%; /* Utilise la pleine largeur du conteneur */
  box-sizing: border-box; /* Inclut padding et border dans la largeur */
  margin: 20px 0; /* Espacement vertical entre les boutons */
  text-decoration: none;
}

.btn-industrie {
  background-color: #4c536c; /* Bleu */
}

.btn-energie {
  background-color: #a2563f; /* Vert */
} 

.btn-devlog {
  background-color: #3e6631; /* Rouge */
}

.btn:hover {
  opacity: 0.9;
}

