
        body {
            margin: 0;
            font-family: 'Roboto', sans-serif;
            background: #f4f7fa;
            color: #333;
        }

        .header {
            background-color: #f2f2f2;
            padding: 20px 30px;
            display: flex;
            justify-content: space-between;
        }

        .header-logo {
            height: 30px;
        }

        .nav-links {
            display: flex;
            margin-left: auto;
        }

        .header-link {
            text-decoration: none;
            color: #000;
            margin-left: 20px;
            font-size: 0.9em;
            font-style: italic;
            padding: 7px;
            transition: background-color 0.3s, color 0.3s;
        }

        .header-link:hover,
        .header-link:focus {
            text-decoration: underline;
            cursor: pointer;
        }

        .main-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            flex-wrap: wrap;
        }

        .sector {
            width: 250px;
            height: 250px;
            text-align: center;
            padding: 10px;
            border: 1px solid #f2f2f2;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #f2f2f2;
        }

        .sector img {
            width: 100%;
            height: auto;
        }

        .sector h2 {
            color: #333;
            font-size: 16px;
        }

        .sector a {
            color: #007bff;
            text-decoration: none;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sector a:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .introduction {
            text-align: center;
            padding: 30px;
            font-size: 25px;
            /*Taille du lego jaune + TEXTE */
            margin-top: 20px;
            font-family: 'Arial', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            /* Adds space between the icon and the text */
        }

        .introduction i {
            font-size: 38px;
            /* Agrandi la taille de l'icône */
        }

        .fa-lightbulb-o {
            color: #e7c819;
            /* Gives a gold-like color to the lightbulb icon */
        }

        .fa-download {
            margin-right: 5px;
        }

        .quiz, .case-study {
            background-color: #4CAF50;
            color: white;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
            margin-top: 1px;
            border-radius: 8px;
            transition: transform 0.3s;
            display: block;
            /* Change to block to allow margin auto to work */
            text-align: center;
            margin: 10px auto;
            /* Centers the button horizontally */
            width: 180px;
            max-width: 200px;
            /* Adjust max width as needed */
        }

        .quiz i {
            margin-right: 5px;
            /* Space between icon and text */
        }

        .quiz:hover {
            transform: translateY(-2px);
            /* Zoom effect on hover */
        }

        .popup-form {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            padding-top: 60px;
        }
        .form-container {
            background-color: #f2f2f2;
            margin: 5% auto;
            padding: 20px;
            border-radius: 10px;
            width: 95%; /* Largeur réduite */
            max-width: 600px;
        }

        .form-container h2 {
            text-align: center;
            font-size: 1.35em;
        }

        .form-container label {
            font-weight: bold;
            margin-bottom: 10px;
            display: block;
        }

        .form-container input[type="text"],
        .form-container input[type="file"] {
            width: calc(100% - 10px);
            /* Ajustement pour les bordures */
            padding: 11px;
            margin-bottom: 30px;
            border: 1px solid #ccc;
            background-color: #ece6e6d4;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .form-container button[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            cursor: pointer;
            margin-top: 1px;
            border-radius: 8px;
            transition: transform 0.3s;
            display: block;
            /* Change to block to allow margin auto to work */
            text-align: center;
            margin: 10px auto;
            /* Centers the button horizontally */
            width: 180px;
            max-width: 300px;
            /* Adjust max width as needed */
        }

        .form-container button[type="submit"]:hover {
            background-color: #45a049;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 33px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
            transform: scale(1.1);
        }

        .add-project-icon {
            font-size: 75px;
            cursor: pointer;
            color: rgb(5, 120, 5);
            margin: auto;
        }
        .add-project-icon:hover{
            transform: scale(1.1);
        }
        .delete-case {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: rgb(178, 150, 150);
            color: white;
            border: none;
            font-size: 20px;
            cursor: pointer;
            padding: 2px 5px;  /* Ajusté pour moins de padding, plus carré */
            border-radius: 0;  /* Aucun arrondi pour un look carré */
        }

        .delete-case:hover {
            background-color: rgb(115, 44, 44);
        }
        .file-input-label {
            display: inline-block;
            margin-top: 10px;
            cursor: pointer;
        }

        .file-input-label .file-type {
            color: rgb(232, 0, 0);
        }
        /* Spécifier l'icône de fichier PDF et changer sa couleur en rouge */
        .fa-file-pdf-o {
            color: rgb(236, 2, 2);
            margin-right: 7px; /* Ajoute un espace de 10px entre l'icône et le texte */
        }
        #pdf-preview {
            width: 100%;
            height: 500px;
            display: none;
            border: 1px solid #ccc;
        }
        footer {
            margin-top: 10px;
            width: 100%;
            text-align: center;
            font-size: 0.8em;
        }
        .delete-case {
            position: absolute;
            top: 5px;
            right: 10px;
            background: transparent;
            border: none;
            color: red;
            font-size: 20px;
            cursor: pointer;
        }



        .delete-case {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: red;
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
        }

        .sector {
            position: relative;
            padding: 20px;
            margin: 20px 0;
            border: 1px solid #ccc;
            border-radius: 8px;
        }


        .search-container {
            /* margin: 5% auto; */
            padding: 20px;
            border-radius: 10px;
            /* width: 95%; */
            display: flex;
            justify-content: center;
        }


        .search-container .container { 
            box-shadow: none;
            background-color: #f2f2f2 !important;
        }