body {
    font-family: "Nunito", sans-serif;
    background: #e9e9e9;
}
a, [type="submit"] {
    transition: all .25s ease-in;
}
.signup__container {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(-50%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 30rem;
    border-radius: 0.1875rem;
    box-shadow: 0 0.1875rem 0.4375rem rgba(159, 157, 157, 0.1);
}
.signup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #07060679;
}
.container__child {
    width: 50%;
    height: 100%;
    color: #fff;
}
.signup__thumbnail {
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.heading--primary {
    color: #01031b;
    font-size: 1.3rem;
    font-weight: 700;
}
.heading--secondary {
    color: #01031b;
    font-size: 1rem;
    font-weight: 300;
}
.signup__form {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    height: 100%;
}
label {
    font-size: 0.85rem;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 0.5rem;
}
.form-group {
    width: 100%;
    margin-bottom: 1rem;
}
.form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    width: 100%;
    padding: 8px;
    font-size: 0.9rem;
    color: #333;
}
.btn--form {
    padding: 0.5rem 2.5rem;
    font-size: 0.95rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: #01031b;
    border-radius: 2.1875rem;
    margin-top: 2.5rem;
    margin-left: 3rem;
    margin-bottom: 0.6rem;
}
.signup__link-container {
    width: 100%; /* Utilise toute la largeur disponible */
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
}
.signup__link {
    font-size: 0.8rem;
    font-weight: 620;
    text-decoration: underline;
    color: #999;
    margin-left: 3.6rem;
}
.thumbnail__logo {
    display: flex;
    justify-content: center; /* Centrage des logos horizontalement */
    margin-bottom: 5px; /* Petite marge au-dessus du titre */
}
.thumbnail__logo img {
    height:35px; /* Hauteur fixe pour les logos très petits */
    width: auto; /* La largeur s'ajuste automatiquement pour maintenir les proportions */
    margin-right: 5px; /* Espace entre les logos s'il y en a plusieurs */
}
/* S'assurer que le contenu textuel reste centré */
.thumbnail__content {
    text-align: center;
    padding-top: 0.5rem; /* Un peu d'espace au-dessus du texte pour ne pas coller aux logos */
}
.signup__link:focus, .signup__link:hover {
    color: #666;
}
@media (max-width: 768px) {
    .heading--primary, .heading--secondary {
        font-size: 50%; /* Réduction de la taille du texte pour les petits écrans */
    }
    .form-control {
        width: 90%; /* Augmente la largeur sur petits écrans pour mieux utiliser l'espace */
    }
    .signup__container{
        width: 60%;
    }
    .container__child{
        width: 60%;
    }
}
