{% extends "index.html" %}

{% block title %}Ajouter Forum{% endblock %}

{% block content %}

    <div class="container-wrapper">
        <div class="container">
            <h2>Add New Forum</h2>
            <form method="POST" action="{{ url_for('forums.add_forum') }}">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.title.label }}<br>
                    {{ form.title(size=50) }}
                <divp>
                <div>
                    {{ form.text.label }}<br>
                    {{ form.text(rows=10, cols=50) }}
                </div>
                <div>{{ form.submit() }}</di>
            </form>
        </div>
    </div>

{% endblock %}
