
{% extends "index.html" %}

{% block title %}Ajouter commentaire{% endblock %}

{% block content %}

    <div class="container-wrapper">
        <div class="container">
            <h2>Add Comment</h2>
            <form method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p>{{ form.text.label }}</p>
                <p>{{ form.text(size=50) }}</p>
                <p>{{ form.pdf_file.label }}</p>
                <p>{{ form.pdf_file() }}</p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>

{% endblock %}