{% extends "index.html" %}

{% block title %}Secteurs - Centrale de Cas{% endblock %}

{% block content %}


    <div class="introduction">
        <i class="fa fa-lightbulb-o"></i> Découvrez nos études de cas sur l'innovation énergétique!
    </div>
    <div class="main-content">
        <div class="sector" id="sector1">
            <h2>Microgrids: Etude sur les perspectives stratégiques de l'énergie</h2>
            <a href="{{ url_for('static', filename='pdf/pdf1.pdf') }}" ><i class="fa fa-download"></i>Télécharger le PDF</a>
            <button class="quiz">Quiz</button>
            <button class="case-study" onclick="window.location.href='{{ url_for('businesscase') }}'">Étude de Cas</button>
            <div class="case-content"></div>
        </div>
        <div class="sector" id="sector2">
            <h2>"Assistant Chargé d'affaires du secteur photovoltaïque" par BERTIN PIERRE</h2>
            <a href="http://memoires.scd.univ-tours.fr/EPU_DA/LOCAL/2021stg_DAE4_Bertin_Pierre_rapport.pdf"><i class="fa fa-download"></i>Télécharger PDF</a>
            <button class="quiz">Quiz</button>
            <button class="case-study" onclick="window.location.href='{{ url_for('businesscase1') }}'">Étude de Cas</button>
            <div class="case-content"></div>
        </div>
        <div class="sector" id="sector3">
            <h2>Stage énergéticien du bâtiment par CYRIL TOUSSAINT</h2>
            <a href="http://memoires.scd.univ-tours.fr/EPU_DA/LOCAL/2021stg_DAE5_Toussaint_Cyril_rapport.pdf"><i class="fa fa-download"></i>Télécharger PDF</a>
            <button class="quiz">Quiz</button>
            <button class="case-study" onclick="window.location.href='{{ url_for('businesscase2') }}'">Étude de Cas</button>
            <div class="case-content"></div>
        </div>
        <div class="sector" id="sector4">
            <h2>Audit énergétique d'un bâtiment de bureaux : Proposition de stratégies de rénovation</h2>
            <a href="https://matheo.uliege.be/bitstream/2268.2/2404/1/2009_2010_BELLIGOI_Thomas.pdf" download="Nom_du_fichier4.pdf"><i class="fa fa-download"></i>Télécharger PDF</a>
            <button class="quiz">Quiz</button>
            <button class="case-study" onclick="window.location.href='{{ url_for('businesscase3') }}'">Étude de Cas</button>
            <div class="case-content"></div>
        </div>
        <!-- Début du code Jinja pour afficher les projets -->
        {% for project in projects %}
        <div class="sector">
            <form action="{{ url_for('delete_project', id=project.id) }}" method="post" style="display:inline;">
                <button type="submit" class="delete-case">&times;</button>
            </form>
            <h2>{{ project.title }} par {{ project.full_name }}</h2>
            <a href="{{ url_for('static', filename='uploads/' + project.file_path) }}" download="{{ project.file_path }}"><i class="fa fa-download"></i>Télécharger PDF</a>
            <button class="quiz" data-url="{{ url_for('quiz', id=project.id) }}">Quiz</button>
            <button class="case-study" onclick="window.location.href='{{ url_for('casia', project_id=project.id) }}'">Étude de Cas</button>
            <div class="case-content"></div>
        </div>
        {% endfor %}
        <!-- Fin du code Jinja -->
        <div id="add-project" class="sector">
            <div class="add-project-icon">+</div>
            <h2>Déposer votre propre rapport de projet.</h2>
        </div>
        <!-- Fenêtre modale pour le Quiz -->
        <div id="quiz-modal" class="popup-form" style="display: none;">
            <div class="form-container">
                <span class="close" onclick="closeModal()">&times;</span>
                <iframe id="quiz-iframe" src="{{ url_for('quiz', id=1 )}}" frameborder="0" style="width:100%; height:80vh;"></iframe>
            </div>
        </div>

        <!-- Bloc pour déposer le rapport de projet -->
        <div id="project-form" class="popup-form" style="display: none;">
            <div class="form-container">
                <span class="close" onclick="closeModalForm()">&times;</span>
                <h2>Déposer votre propre rapport de projet</h2>
                <form id="project-upload-form" action="{{ url_for('energie') }}" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="full-name">Nom et Prénom:</label>
                        <input type="text" id="full-name" name="full-name" required>
                    </div>
                    <div>
                        <label for="project-title">Titre de votre projet:</label>
                        <input type="text" id="project-title" name="project-title" required>
                    </div>
                    <div>
                        <label for="file-upload"><i class="fa fa-file-pdf-o"></i> Charger un document:</label>
                        <input type="file" id="file-upload" name="file-upload" accept=".pdf" required>
                        <label class="file-input-label" for="file-upload">Veuillez déposer votre rapport sous format <span class="file-type">.pdf</span></label>
                    </div>
                    <div>
                        <iframe id="pdf-preview"></iframe>
                    </div>
                    <div>
                        <button type="submit" id="submit-project">Charger</button>
                    </div>
                </form>
                <div id="file-error-message" style="display: none; color: red; margin-top: 10px;">
                    <i class="fa fa-exclamation-triangle"></i> Veuillez sélectionner un fichier PDF.
                </div>            
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Centrale de Cas. Tous droits réservés.</p>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const quizUrls = [
                "{{ url_for('quiz', id=0) }}",
                "{{ url_for('quiz1') }}",
                "{{ url_for('quiz2') }}",
                "{{ url_for('quiz3') }}"
            ];
            const quizButtons = document.querySelectorAll('.quiz');
            const quizModal = document.getElementById('quiz-modal');
            const quizIframe = document.getElementById('quiz-iframe');
        
            quizButtons.forEach((button, index) => {
                button.addEventListener('click', () => {
                    const dataUrl = button.getAttribute('data-url');
                    console.log(dataUrl)
                    quizIframe.src = dataUrl ? dataUrl : quizUrls[index];
                    quizModal.style.display = 'block';
                });
            });
        
            document.querySelector('.close').addEventListener('click', () => {
                quizModal.style.display = "none";
            });
        
            window.onclick = (event) => {
                if (event.target == quizModal) {
                    quizModal.style.display = "none";
                }
            };
        });
        
        function closeModal() {
            document.getElementById('quiz-modal').style.display = 'none';
        }
        
        document.addEventListener('DOMContentLoaded', function () {
            var addProjectButton = document.getElementById('add-project');
            var projectForm = document.getElementById('project-form');
            var closeButton = projectForm.querySelector('.close');
            var submitButton = document.getElementById('submit-project');
            var fileUpload = document.getElementById('file-upload');
            var pdfPreview = document.getElementById('pdf-preview');
            var fileErrorMessage = document.getElementById('file-error-message');
            var fileInputLabel = document.querySelector('.file-input-label');
            var fullNameInput = document.getElementById('full-name');
            var projectTitleInput = document.getElementById('project-title');
        
            function resetForm() {
                fullNameInput.value = '';
                projectTitleInput.value = '';
                fileUpload.value = '';
                pdfPreview.src = '';
                pdfPreview.style.display = 'none';
                fileInputLabel.textContent = 'Choisir un fichier .pdf';
                fileErrorMessage.style.display = 'none';
            }
        
            addProjectButton.addEventListener('click', function () {
                projectForm.style.display = 'block';
            });
        
            closeButton.addEventListener('click', function () {
                projectForm.style.display = 'none';
                pdfPreview.style.display = 'none';
                resetForm();
            });
        
            submitButton.addEventListener('click', function (event) {
                var fullName = document.getElementById('full-name').value.trim();
                var projectTitle = document.getElementById('project-title').value.trim();
                var file = fileUpload.files[0];
        
                if (!fullName || !projectTitle || !file || !file.name.toLowerCase().endsWith('.pdf')) {
                    alert('Veuillez remplir tous les champs et sélectionner un fichier PDF valide.');
                    event.preventDefault();
                }
            });
        
            loadProjects();
        });

        function loadProjects() {
            var projects = JSON.parse(localStorage.getItem('projects') || '[]');
            projects.forEach(function(project, index) {
                addProjectBlock(project.title, project.full_name, project.fileContent, project.fileName, index);
            });
        }
        
        function addProjectBlock(title, fullName, fileContent, fileName, index) {
            var caseContent = document.createElement('div');
            caseContent.classList.add('sector');
            caseContent.style.position = 'relative';
            caseContent.innerHTML = `<h2>${title} par ${fullName}</h2>
                <a href="${fileContent}" download="${fileName}"><i class="fa fa-download"></i>Télécharger PDF</a>
                <button class="quiz">Quiz</button>
                <button class="case-study" onclick="window.location.href='/casia/${index}'">Étude de Cas</button>
                <div class="case-content"></div>`;
    
          
                var deleteButton = document.createElement('button');
                deleteButton.classList.add('delete-case');
                deleteButton.innerHTML = '&times;';
                deleteButton.onclick = function () {
                    if (confirm('Êtes-vous sûr de vouloir supprimer ce projet ?')) {
                        deleteProject(project.id, caseContent);
                    }
                };
                caseContent.appendChild(deleteButton);

                document.body.appendChild(caseContent);
        };

        // function deleteProject(projectId) {
        //     fetch(`/delete_project/${projectId}`, { method: 'POST' })
        //         .then(response => {
        //             if (response.ok) {
        //                 location.reload();
        //             } else {
        //                 alert('Erreur lors de la suppression du projet');
        //             }
        //         });
        // }
    </script>
    <script>
        window.embeddedChatbotConfig = {
            chatbotId: "IbeEBj8NpfRvA1-BPlXTE",
            domain: "www.chatbase.co"
        };
    </script>
    <script src="https://www.chatbase.co/embed.min.js" defer></script>

{% endblock %}
