<!DOCTYPE html>
<html lang="fr">

<head> 
    <meta charset="UTF-8">
    <title>Quiz sur les installations photovoltaïques</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Exo:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quiz.css') }}">
</head>

<body>
    <div id="container">       
	    <div id="haut">
		    Quiz sur le projet <br />
		    10 Questions
	    </div>
	
        <div id="guide">
            <ul>
                <li><strong>•</strong> Vous avez 15 secondes pour chaque question.</li>
                <li><strong>•</strong> Une fois que vous avez sélectionné votre réponse, elle ne peut pas être annulée.</li>
                <li><strong>•</strong> Vous obtiendrez des points sur la base de vos réponses correctes.</li>
            </ul>
            <button id="start">Démarrer le quiz</button>
        </div>

        <div id="quiz" style="display:none;">
            <div id="quiz_header">
                <h5><span>Q</span>UIZ</h5>
                <div id="timer">
                    <h6>Temps restant</h6>
                    <h6 id="time">15</h6>
                </div>
            </div>

            <div id="question">
                <h2 id="questionNo"></h2>
                <h2 id="questionText"></h2>
            </div>

            <div id="optionList">
                <h4 class="choice_que" id="option1"></h4>
                <h4 class="choice_que" id="option2"></h4>
                <h4 class="choice_que" id="option3"></h4>
                <h4 class="choice_que" id="option4"></h4>
            </div>

        </div>
        
        <div id="result" style="display:none;">
            <h6>Vous avez terminé le quiz</h6>
            <h6 id="points">Votre score est de : 4 sur 10</h6>
            <button id="startAgain">Recommencer</button>
            <h5>Merci d'avoir participé à ce Quiz.</h5>
        </div>
        

    </div>
    <script src="{{ url_for('static', filename='js/questions1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
        
</body>
</html>


